---
import Layout from "../../../layouts/Layout.astro";
import ProfileCreationForm from "../../../components/app/profile/create/ProfileCreationForm.svelte";
---

<Layout title="إنشاء الملف الشخصي | باب الهجرة">
    <div
        class="min-h-screen bg-gray-50 dark:bg-gray-900 py-12 px-4 sm:px-6 lg:px-8"
    >
        <ProfileCreationForm client:load />
    </div>
</Layout>
